<!DOCTYPE html>
{% load staticfiles %}

<head>
    <meta charset='utf-8'>
    <title>Accessing Records from SQL Database </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <h1>Welcome to Django L2</h1>
    <h2>Here are your access records man.</h2>

    <div class="djangtwo">
        {% if access_records %}
        <table>
            <thead>
                <th>Site Name</th>
                <th>Date Accessed</th>
            </thead>

            {% for acc in access_records %}

            <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>NO RECORDS FOUND</p>
        {% endif %}
    </div>

</body>

</html>